config/n8n/health_check.json
{
  "name": "FAS Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-health",
      "name": "Check Gateway Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "if-healthy",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Track consecutive failures in static data\nconst staticData = $getWorkflowStaticData('global');\nstaticData.failCount = (staticData.failCount || 0) + 1;\nstaticData.lastFailure = new Date().toISOString();\n\nconst failCount = staticData.failCount;\nconst isCritical = failCount >= 3;\n\nreturn [{\n  json: {\n    failCount,\n    isCritical,\n    lastFailure: staticData.lastFailure,\n    message: isCritical\n      ? `🔴 CRITICAL: Gateway health check failed ${failCount} times in a row!`\n      : `⚠️ Gateway health check failed (attempt ${failCount}/3)`\n  }\n}];"
      },
      "id": "track-failures",
      "name": "Track Failures",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "functionCode": "// Reset failure counter on success\nconst staticData = $getWorkflowStaticData('global');\nstaticData.failCount = 0;\nreturn [{ json: { status: 'healthy', resetAt: new Date().toISOString() } }];"
      },
      "id": "reset-counter",
      "name": "Reset Counter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCritical }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-critical",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 350]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{ $json.message }}" }
          ]
        }
      },
      "id": "slack-warn",
      "name": "Slack Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Check Gateway Health", "type": "main", "index": 0 }]] },
    "Check Gateway Health": { "main": [[{ "node": "Is Healthy?", "type": "main", "index": 0 }]] },
    "Is Healthy?": {
      "main": [
        [{ "node": "Reset Counter", "type": "main", "index": 0 }],
        [{ "node": "Track Failures", "type": "main", "index": 0 }]
      ]
    },
    "Track Failures": { "main": [[{ "node": "Is Critical?", "type": "main", "index": 0 }]] },
    "Is Critical?": {
      "main": [
        [{ "node": "Telegram Alert", "type": "main", "index": 0 }],
        [{ "node": "Slack Warning", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [{ "name": "fas-monitoring" }]
}
