config/n8n/master_orchestration.json
{
  "name": "FAS Master Orchestration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "cron-morning",
      "name": "Cron: Morning 07:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "cron-night",
      "name": "Cron: Night 23:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/mode",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "target_mode", "value": "awake" },
            { "name": "reason", "value": "Morning cron trigger" },
            { "name": "requested_by", "value": "cron" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "mode-awake",
      "name": "Set Mode: AWAKE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/mode",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "target_mode", "value": "sleep" },
            { "name": "reason", "value": "Night cron trigger" },
            { "name": "requested_by", "value": "cron" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "mode-sleep",
      "name": "Set Mode: SLEEP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/n8n/planning/morning",
        "method": "POST",
        "options": { "timeout": 30000 }
      },
      "id": "planning-morning",
      "name": "Trigger Morning Planning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/n8n/planning/night",
        "method": "POST",
        "options": { "timeout": 60000 }
      },
      "id": "planning-night",
      "name": "Trigger Night Planning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Format morning briefing for Slack\nconst data = $input.first().json;\nconst created = data.created || [];\nconst skipped = data.skipped || [];\nconst created_count = data.created_count || 0;\nconst skipped_count = data.skipped_count || 0;\n\nconst text = `\u2600\ufe0f *[Morning Briefing]*\\n` +\n  `Created: ${created_count} tasks\\n` +\n  (created.length > 0 ? created.map(t => `  \u2022 ${t}`).join('\\n') + '\\n' : '') +\n  `Skipped: ${skipped_count}`;\n\nreturn [{ json: { text, created_count, skipped_count } }];"
      },
      "id": "format-morning",
      "name": "Format Morning Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "functionCode": "// Format night summary for Slack\nconst data = $input.first().json;\nconst summary = data.summary || { done: 0, blocked: 0, pending: 0 };\nconst discovery = data.discovery || { created: [], analyzed_tasks: 0 };\n\nlet text = `\ud83c\udf19 *[Night Summary]*\\n` +\n  `Done: ${summary.done} | Blocked: ${summary.blocked} | Pending: ${summary.pending}`;\n\nif (discovery.created && discovery.created.length > 0) {\n  text += `\\n\\n\ud83d\udd0d *Discoveries (${discovery.created.length}):*\\n` +\n    discovery.created.map(t => `  \u2022 ${t}`).join('\\n');\n}\n\nreturn [{ json: { text, summary, discovery_count: discovery.created ? discovery.created.length : 0 } }];"
      },
      "id": "format-night",
      "name": "Format Night Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [960, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        }
      },
      "id": "slack-morning",
      "name": "Slack: Morning Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        }
      },
      "id": "slack-night",
      "name": "Slack: Night Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 500]
    }
  ],
  "connections": {
    "Cron: Morning 07:30": { "main": [[{ "node": "Set Mode: AWAKE", "type": "main", "index": 0 }]] },
    "Cron: Night 23:00": { "main": [[{ "node": "Set Mode: SLEEP", "type": "main", "index": 0 }]] },
    "Set Mode: AWAKE": { "main": [[{ "node": "Trigger Morning Planning", "type": "main", "index": 0 }]] },
    "Set Mode: SLEEP": { "main": [[{ "node": "Trigger Night Planning", "type": "main", "index": 0 }]] },
    "Trigger Morning Planning": { "main": [[{ "node": "Format Morning Summary", "type": "main", "index": 0 }]] },
    "Trigger Night Planning": { "main": [[{ "node": "Format Night Summary", "type": "main", "index": 0 }]] },
    "Format Morning Summary": { "main": [[{ "node": "Slack: Morning Briefing", "type": "main", "index": 0 }]] },
    "Format Night Summary": { "main": [[{ "node": "Slack: Night Summary", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [{ "name": "fas-core" }]
}
