config/n8n/token_usage_tracker.json
{
  "name": "FAS Token Usage Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily at 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GATEWAY_URL || 'http://host.docker.internal:3100' }}/api/n8n/metrics",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-metrics",
      "name": "Fetch Gateway Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "# Parse Claude Code usage from log files\nCLAUDE_LOG=\"$HOME/FAS-operations/logs/claude-usage.log\"\nGEMINI_LOG=\"$HOME/FAS-operations/logs/gemini-usage.log\"\n\n# Count today's entries\nTODAY=$(date +%Y-%m-%d)\nCLAUDE_COUNT=$(grep -c \"$TODAY\" \"$CLAUDE_LOG\" 2>/dev/null || echo 0)\nGEMINI_COUNT=$(grep -c \"$TODAY\" \"$GEMINI_LOG\" 2>/dev/null || echo 0)\n\necho \"{\\\"date\\\": \\\"$TODAY\\\", \\\"claude_requests\\\": $CLAUDE_COUNT, \\\"gemini_requests\\\": $GEMINI_COUNT, \\\"timestamp\\\": \\\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\\\"}\""
      },
      "id": "collect-usage",
      "name": "Collect Token Usage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Combine metrics from Gateway API and local logs\nconst metrics = $node['Fetch Gateway Metrics'].json || {};\nconst logRaw = $node['Collect Token Usage'].json.stdout || '{}';\nlet logUsage;\ntry {\n  logUsage = JSON.parse(logRaw);\n} catch {\n  logUsage = { claude_requests: 0, gemini_requests: 0 };\n}\n\n// Task stats from Gateway\nconst tasks = metrics.tasks || { pending: 0, in_progress: 0, done: 0, blocked: 0 };\nconst mode = metrics.mode || { current_mode: 'unknown' };\n\n// Token usage thresholds\nconst CLAUDE_DAILY_LIMIT = parseInt($env.CLAUDE_DAILY_LIMIT || '1000');\nconst GEMINI_DAILY_LIMIT = parseInt($env.GEMINI_DAILY_LIMIT || '500');\n\nconst claude_pct = (logUsage.claude_requests / CLAUDE_DAILY_LIMIT) * 100;\nconst gemini_pct = (logUsage.gemini_requests / GEMINI_DAILY_LIMIT) * 100;\n\n// Generate alerts based on thresholds\nconst alerts = [];\nconst suggestions = [];\n\n// Over 80% usage alert\nif (claude_pct > 80) alerts.push(`Claude: ${logUsage.claude_requests}/${CLAUDE_DAILY_LIMIT} (${claude_pct.toFixed(0)}%)`);\nif (gemini_pct > 80) alerts.push(`Gemini: ${logUsage.gemini_requests}/${GEMINI_DAILY_LIMIT} (${gemini_pct.toFixed(0)}%)`);\n\n// Under 30% usage — suggest more tasks\nif (claude_pct < 30 && tasks.pending === 0) {\n  suggestions.push('Claude usage < 30% and no pending tasks. Consider scheduling more work.');\n}\nif (gemini_pct < 30 && tasks.pending === 0) {\n  suggestions.push('Gemini usage < 30% and no pending tasks. Resources are underutilized.');\n}\n\nconst has_alert = alerts.length > 0;\nconst has_suggestion = suggestions.length > 0;\n\nlet message = `\ud83d\udcca *[Daily Usage Report]*\\n`;\nmessage += `Mode: ${mode.current_mode}\\n`;\nmessage += `Tasks — Done: ${tasks.done} | Pending: ${tasks.pending} | Blocked: ${tasks.blocked}\\n`;\nmessage += `Claude: ${logUsage.claude_requests}/${CLAUDE_DAILY_LIMIT} (${claude_pct.toFixed(0)}%)\\n`;\nmessage += `Gemini: ${logUsage.gemini_requests}/${GEMINI_DAILY_LIMIT} (${gemini_pct.toFixed(0)}%)`;\n\nif (has_alert) message += `\\n\\n\u26a0\ufe0f *High Usage:* ${alerts.join(', ')}`;\nif (has_suggestion) message += `\\n\\n\ud83d\udca1 *Suggestion:* ${suggestions.join('. ')}`;\n\nreturn [{\n  json: {\n    message,\n    has_alert,\n    has_suggestion,\n    claude_pct: claude_pct.toFixed(1),\n    gemini_pct: gemini_pct.toFixed(1),\n    tasks,\n    mode: mode.current_mode\n  }\n}];"
      },
      "id": "analyze-combined",
      "name": "Analyze Usage + Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 400]
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/reports/token_usage && echo '{{ JSON.stringify($json) }}' >> /data/reports/token_usage/$(date +%Y-%m-%d).jsonl"
      },
      "id": "log-usage",
      "name": "Log Usage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_alert }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-alert",
      "name": "High Usage?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, 450]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{ $json.message }}" }
          ]
        }
      },
      "id": "slack-report",
      "name": "Slack: Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 600]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-alert",
      "name": "Telegram: High Usage Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_suggestion }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-underused",
      "name": "Underutilized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 550]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "=\ud83d\udca1 *[Resource Underutilized]*\nClaude: {{ $json.claude_pct }}% | Gemini: {{ $json.gemini_pct }}%\nConsider scheduling additional tasks to maximize resource usage." }
          ]
        }
      },
      "id": "slack-suggest",
      "name": "Slack: Suggest More Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 500]
    }
  ],
  "connections": {
    "Daily at 06:00": {
      "main": [
        [
          { "node": "Fetch Gateway Metrics", "type": "main", "index": 0 },
          { "node": "Collect Token Usage", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Gateway Metrics": { "main": [[{ "node": "Analyze Usage + Metrics", "type": "main", "index": 0 }]] },
    "Collect Token Usage": { "main": [[{ "node": "Analyze Usage + Metrics", "type": "main", "index": 0 }]] },
    "Analyze Usage + Metrics": {
      "main": [
        [
          { "node": "Log Usage", "type": "main", "index": 0 },
          { "node": "High Usage?", "type": "main", "index": 0 },
          { "node": "Slack: Daily Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "High Usage?": {
      "main": [
        [{ "node": "Telegram: High Usage Alert", "type": "main", "index": 0 }],
        [{ "node": "Underutilized?", "type": "main", "index": 0 }]
      ]
    },
    "Underutilized?": {
      "main": [
        [{ "node": "Slack: Suggest More Tasks", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "tags": [{ "name": "fas-monitoring" }]
}
